<section>
  <div class="">
    <p class="welcome-first-text">Welcome</p>
    <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
  </div>
  <div class="">
    <p class="welcome-text">
      At CoffeeJoy, we believe that every cup tells a story. Our mission is to
      bring you the finest coffee experiences, crafted with care and dedication.
      We are committed to sourcing high-quality beans and roasting them to
      perfection, ensuring each sip is a delight.
    </p>
    <button class="welcome-button" type="button">
      Find location
      <svg class="welcome-button-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <img
    class="welcome-photo"
    srcset="./images/team/team-1-min.jpg 1x, ./images/team/team-1@2x-min.jpg 2x"
    src="./images/team/team-1-min.jpg"
    alt="photo1"
    width="1312"
  />
</section>
